{
  "extends": "@ocavue/eslint-config",
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "no-console": "error"
  },
  "overrides": [
    {
      "files": [
        "**/*.md/*.js",
        "**/*.md/*.ts"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
