.prosemirror-flat-list {
  & {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 32px;
    margin-bottom: 0;
    position: relative;
    display: list-item;
    list-style: none;
  }

  &.ProseMirror-selectednode {
    outline: none;

    &:after {
      content: '';
      position: absolute;
      left: -32px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      border: 2px solid #8cf;
      pointer-events: none;
    }
  }

  &[data-list-kind='bullet'] {
    list-style: disc;
  }

  &[data-list-kind='ordered'] {
    &::before {
      position: absolute;
      right: 100%;
      font-variant-numeric: tabular-nums;
      content: counter(prosemirror-flat-list-counter, decimal) '. ';
    }

    /* 
    Firefox has different CSS Counter implemetation compare to Chrome and Safari, so
    we need to apply different CSS rules for Firefox.  
    https://bugzilla.mozilla.org/show_bug.cgi?id=1841791
    */

    /* CSS rules for Firefox */
    @supports (-moz-appearance: none) {
      contain: style;
      counter-increment: prosemirror-flat-list-counter;
    }

    /* CSS rules for Chrome and Safari */
    @supports not (-moz-appearance: none) {
      counter-reset: prosemirror-flat-list-counter;
      counter-increment: prosemirror-flat-list-counter;
      & + & {
        counter-reset: none;
      }
    }
  }

  &[data-list-kind='task'] {
    & > .list-marker {
      position: absolute;
      right: 100%;
      text-align: center;
      width: 1.5em;
      width: 1lh;

      &,
      & * {
        cursor: pointer;
      }
    }
  }

  &[data-list-kind='toggle'] {
    & > .list-marker {
      position: absolute;
      right: 100%;
      text-align: center;
      width: 1.5em;
      width: 1lh;
    }

    & > .list-marker::before {
      content: '\23F7'; /* Black Medium Down-Pointing Triangle */
    }
    &[data-list-collapsable][data-list-collapsed] > .list-marker::before {
      content: '\23F5'; /* Black Medium Right-Pointing Triangle */
    }

    &[data-list-collapsable] > .list-marker {
      cursor: pointer;
    }
    &:not([data-list-collapsable]) > .list-marker {
      opacity: 40%;
      pointer-events: none;
    }

    /* If collapsed, hide the second and futher children */
    &[data-list-collapsable][data-list-collapsed]
      > .list-content
      > *:nth-child(n + 2) {
      display: none;
    }
  }
}
