.prosemirror-flat-list {
  & {
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 32px;
    margin-bottom: 4px;

    border: 2px solid red;

    position: relative;
    display: list-item;
    list-style: none;
  }

  &.ProseMirror-selectednode {
    outline: none;

    &:after {
      content: '';
      position: absolute;
      left: -32px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      border: 2px solid #8cf;
      pointer-events: none;
    }
  }

  &[data-list-type='bullet'] {
    list-style: disc;
  }

  &[data-list-type='ordered'] {
    counter-reset: prosemirror-flat-list-counter;
    counter-increment: prosemirror-flat-list-counter;
    & + & {
      counter-reset: none;
    }
    &::before {
      position: absolute;
      right: 100%;
      font-variant-numeric: tabular-nums;
      content: counter(prosemirror-flat-list-counter, decimal) '. ';
    }
  }

  &[data-list-type='task'] {
    & > .list-marker {
      position: absolute;
      right: 100%;
      text-align: center;
      width: 1.5em;
      width: 1lh;

      cursor: pointer;
      & * {
        pointer-events: none;
      }
    }
  }

  &[data-list-type='toggle'] {
    & > .list-marker {
      position: absolute;
      right: 100%;
      text-align: center;
      width: 1.5em;
      width: 1lh;
    }

    &:not([data-list-collapsed]) > .list-marker::before {
      content: '\23F7'; /* Black Medium Down-Pointing Triangle */
    }
    &[data-list-collapsed] > .list-marker::before {
      content: '\23F5'; /* Black Medium Right-Pointing Triangle */
    }

    &:not([data-list-disabled]) > .list-marker {
      cursor: pointer;
    }
    &[data-list-disabled] > .list-marker {
      opacity: 40%;
      pointer-events: none;
    }

    /* If collapsed, hide the second and futher children */
    &[data-list-collapsed] > .list-content > *:nth-child(n + 2) {
      display: none;
    }
  }
}
